:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(212, 45%, 89%);
  --grey-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--light-grey);
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
}

.card-container {
  max-width: 22rem;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  background-color: var(--white);
}

.card_image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.card-content {
  padding: 2rem 0.75rem;
}

.card_title {
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.card_body {
  color: var(--grey-blue);
  padding: 0 0.5rem;
}